.home {
  h1 {
    font-size: 3rem;
    margin: 20px 0;
  }
}

.link {
  font-size: 2rem;
  margin: 10px;
  text-decoration: none;
  background-color: aqua;
  padding: 5px 10px;
  border-radius: 5px;
  color: black;
  font-family: "Roboto", sans-serif;

  &:hover {
    background-color: orange;
  }
}
